// .index {
//   height: 100%;
//   width: 100%;
//   position: absolute;
// }
.root {
	text-align: center; /*让div内部文字居中*/
	width: 900px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1 {
  height: 200px;
  width: 200px;
  margin: 10px;
  background-color: red;
}